body {
    background-color: gray;
}

.box, .box:focus , .box:active {
    padding: none;
    margin: none;
    background: none;
    width: 14px;
    height: 14px;
    border: none;
    outline: none;
    border: solid 1px gray;
}

.row {
    font-size: 0;
    padding: none;
    margin: none;
}